body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 0;
    gap: 1rem;
}

header {
    background-color: rgb(56, 52, 52);
    grid-column: 1/3;
}

header p {
    color: white;
    padding: 10px;
}


nav {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

nav a {
    color: white;
    text-decoration: none;



}

main {
    background-color: #ccc;
    min-height: 430px;
    grid-column: 1;
    border: 1px solid #ccc;
    background-color: white;
}

main h2 {
    background-color: navy;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: -10px;
}

aside {
    grid-column: 2;
    min-height: 430px;
    border: 1px solid #ccc;
    background-color: white;
}


footer {
    background-color: rgb(56, 52, 52);
    min-height: 120px;
    grid-column: 1/3;

}

footer p {
    color: white;
    text-align: center;
}