:root {
    --primary-color: red;
    --secondary-color: darkgreen;
    --accent-color: white;
    --accent2-color: lightgray;
    --heading-font: Arial, sans-serif;
    --body-font: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    padding: 1rem;
    text-align: center;
}

.hero {
    position: relative;
    border-top: 10px solid red;
    border-bottom: 7px solid darkgreen;
}

.hero picture,
.hero img {
    width: 100%;
    display: block;
}

.hero img {
    height: auto;
}

.temple-info,
.weather {
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.temple-info h2,
.weather h2 {
    text-align: center;
}

.temple-info p,
.weather p {
    display: grid;
    grid-template-columns: 170px 1fr;
    width: 330px;
    max-width: 100%;
    margin: 0.5rem auto;
    text-align: left;
}

.temple-info p strong,
.weather p strong {
    text-align: right;
    padding-right: 0.75rem;

}

.temple-info p span,
.weather p span {
    text-align: left;
}

.weather img {
    width: 50px;
    height: 50px;
}

footer {
    background-color: var(--secondary-color);border-top: 8px solid red;
    color: var(--accent-color);
    padding: 1rem;
    text-align: center;
}