@media screen and (min-width: 700px) {
    .hero {
        min-height: 600px;
    }

    .hero picture,
    .hero img {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    .temple-info,
    .weather {
        position: absolute;
        width: 300px;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 5px;

    }

    .temple-info h2,
    .weather h2 {
        background-color: var(--secondary-color);
        color: var(--accent-color);
        padding: 1rem;
        margin: -1rem;
        margin-bottom: 1rem;
        text-align: left;
    }

    .temple-info p,
    .weather p {
        margin: 0.5rem 0;
        display: grid;
        grid-template-columns: 120px 1fr;
        text-align: left;

    }

    .temple-info {
        top: 200px;
        left: 20px;
    }

    .weather {
        top: 200px;
        right: 20px;
    }

    .weather h2::after {
        content: "🌤️";
        margin-left: 40px;
    }

    .weather img {
        display: none;
    }
}