@media (min-width:37.5rem) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header h1 {
        margin: 0;
    }

    #menu {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }

    nav li {
        flex: 1;
    }

    .temple-container {
        grid-template-columns: repeat(3, 1fr);
    }

}